

p {
	text-align: center;
	color: red;
  }

h1 {
	text-align: right;
	color: blue;
  }

.center {text-align: center;
	 color:red;
  }

#alkohol {
		text-align: left;
		color:blue;
		<!-plika nie jest kanciasta>
}