p {
		text-align: center;
		color: red;
}
h1{
		text-align:right;
		color:#687363
}
.wzor {
		text-align: center;
		color:green
}
#bleh{
		text-align:center;
		color:purple
}
.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    font-size: 25px;
    box-sizing: border-box;
}